work/decompiled*/
work/*.png
work/*.apk
work/*.idsig
work/*.keystore
work/jadx*/
work/apk_contents/
work/dump_module*/
work/opentaichi_v*
work/taiji_*
work/*.py
work/*.txt
work/*.xml
work/*.bin
work/*.der
work/*.zip
work/*.java
work/cert_candidate_*
work/v3_*
work/sig4_check/
work/repacked_libs/
work/unicorn_*
work/OpenTaichi_project/
.idea/
